*{
    margin: 0px;
    padding: 0px;
}
.top{
    
    height: 55px;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    color: white;
    text-align: center;
    background-color: rgb(75, 76, 99);
}
footer{
    background-color: rgb(46, 47, 76);
}
#flex{
    color: white;
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    padding: 50px 0px;
    
}
#flex>div>h4{
    margin-bottom: 20px;
}
#flex>div>p{
    margin-bottom: 8px;
}
#flex>div>p:hover{
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
}
#imgLan{
    
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#fotterLog{
    width: 200px;
}
#imgLan select{
    width: 200px;
    height: 40px;
}
#imgLan option{
    width: 200px;
    height: 40px;
}
#para{
    word-spacing: 7px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    color: white;
}