#note {
    text-align: center;
    margin: auto;
    margin: 20px 0px 50px 0px;
  }
  
  #note p span {
    color: rgb(187, 5, 5);
  }
  
  footer {
    margin-top: 100px;
  }
  
  .mainCartContainer {
    display: flex;
    width: 90%;
    margin: auto;
  }
  
  .mainCartContainer > #cart-container {
    background-color: #fafdfb;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
    padding: 10px;
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 5%;
  }
  
  .mainCartContainer > #cart-container > div {
    border: 1px solid #aba9a9;
    background-color: white;
    display: grid;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .mainCartContainer > #cart-container > div > #imgdiv {
    width: 95%;
    margin: auto;
    overflow: hidden;
  }
  
  .mainCartContainer > #cart-container > div > #imgdiv > img {
    width: 100%;
  }
  
  .mainCartContainer > #cart-container > div > #deletebtn {
    display: block;
    height: 40px;
    background-color: #191b21;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .mainCartContainer > #cart-container > div > #qbtn > button {
    width: 30px;
    padding: 0px 0px 5px 0px;
    margin: 0px 10px;
    background-color: #4a4e4d;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: larger;
    border-radius: 5px;
  }
  
  .mainCartContainer > #cart-container > div > p:nth-child(2) {
    font-weight: bold;
    font-size: 12px;
    margin: 5px 0px;
  }
  
  .mainCartContainer > #cart-container > div > p:nth-child(3) {
    font-weight: bold;
    font-size: 18px;
  }
  
  .mainCartContainer > #cart-container > div > s:nth-child(4) {
    font-size: 14px;
  }
  
  /* payment */
  
  .mainCartContainer > #cartdiv2 {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: #fafdfb;
    border-radius: 10px;
    /* border: 1px solid red; */
    height: 320px;
    width: 30%;
    padding: 40px;
  }

  .mainCartContainer > #cartdiv2  .extracharges{
    font-size: small;
    text-align: center;
    margin-top: -20px;
  }
  .mainCartContainer > #cartdiv2 > div:nth-child(1) {
    background-color: #232f3e;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
  }
  
  .mainCartContainer > #cartdiv2 > div:nth-child(2) {
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  
  .mainCartContainer > #cartdiv2 > div:nth-child(2) > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: large;
    line-height: 40px;
  }
  .mainCartContainer > #cartdiv2 > div:nth-child(2) > div > span {
    font-weight: bold;
  }
  .mainCartContainer > #cartdiv2 > div:nth-child(3) {
    text-align: center;
  }
  
  .mainCartContainer > #cartdiv2 > div:nth-child(3) > a > button {
    /* text-align: center; */
    margin: 30px 0px;
    border: none;
    background-color: #191b21;
    padding: 10px;
    border-radius: 5px;
    color: white;
  }
  
  @media screen and (max-width:800px) {
    .mainCartContainer{
      flex-direction: column;
    }
    .mainCartContainer > #cart-container{
      grid-template-columns: repeat(2,1fr);
    }
  }