#gender {
  padding: 10px;
  width: 100%;
  border: none;
  line-height: 25px;
}

#gender > option {
  font-size: 16px;
}

#color {
  padding: 10px;
  width: 100%;
  border: none;
  line-height: 25px;
}

#color > option {
  font-size: 16px;
}

#size {
  padding: 10px;
  width: 100%;
  border: none;
  line-height: 25px;
}

#size > option {
  font-size: 16px;
}

#brand {
  padding: 10px;
  width: 100%;
  border: none;
  line-height: 25px;
}

#brand > option {
  font-size: 16px;
}

/* #container1>p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
} */

#centerFilterBox_Home {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  /* font-size: large; */
  border: 1px solid rgb(226, 226, 226);
  padding: 10px;
}

#centerFilterBox_Home > a:nth-child(1) {
  font-weight: bold;
  color: rgb(129, 129, 129);
}

#centerFilterBox_Home > a {
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 36px;
  text-decoration: none;
  color: black;
}

#centerFilterBox_Home > a:hover {
  text-decoration: underline;
}

.filterHr {
  width: 100%;
}

summary {
  font-weight: bold;
}

#color {
  padding: 10px;
  line-height: 25px;
}

#color > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#color > div > div > a > img {
  border: 1px solid black;
}

#color > div > div > a {
  text-decoration: none;
  line-height: 30px;
  color: black;
  font-size: 17px;
}

#color > div > div > a:hover {
  text-decoration: underline;
}

#size {
  padding: 10px;
  line-height: 25px;
}

#size > div {
  height: 200px;
  overflow-y: scroll;
}

#brand {
  padding: 10px;
  line-height: 25px;
}

#brand > div {
  height: 200px;
  overflow-y: scroll;
}

#lastBox {
  /* border: 1px solid blue; */
  margin: 20px 0px;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
}

#lastBox > span {
  font-weight: bold;
}

#lastBox > a {
  color: rgb(15, 87, 81);
}

/* ********************** CONTAINER2 PRODUCTS **************************** */

#mainContainer {
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 20px;
}

.container2 {
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.container2 > #cont2-products {
  /* border: 1px solid green; */
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.container2 > #cont2-products > div {
  border: 1px solid #aba9a9;
  text-align: center;
  line-height: 20px;
  display: grid;
  padding: 10px;
  border-radius: 5px;
}

.container2 > #cont2-products > div > #imgdiv {
  object-fit: cover;
  width: 100%;
  height: 210px;
  margin: auto;
  overflow: hidden;
}

.container2 > #cont2-products > div > #imgdiv > img {
  width: 100%;
  /* height: 100%; */
}

/* .container2>#cont2-products>div>img {
    width: 100%;
    height: 280px;
} */

.container2 > #cont2-products > div > button {
  height: 40px;
  background-color: #191b21;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.container2 > #cont2-products > div > p:nth-child(2) {
  font-weight: bold;
  font-size: 15px;
}

.container2 > #cont2-products > div > p:nth-child(3) {
  font-weight: bold;
  font-size: 18px;
}

.container2 > #cont2-products > div > s:nth-child(4) {
  font-size: 14px;
}

/* sorting */

#productBox_head {
  /* border: 1px solid red; */
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 11px;
  align-items: center;
}

#productBox_head > p {
  font-weight: bold;
  font-size: large;
}

#productBox_head select {
  background-color: #323331;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  font-size: medium;
}

/* // pagination  */
.center {
  text-align: center;
  width: 95%;
  margin: auto;
  margin-top: 30px;
  /* border: 1px solid red; */
  margin-bottom: 100px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
