body {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
#maindiv {
  /* border: 1px solid red; */
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
#from {
  width: 60%;
  margin: auto;
  padding: 10px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
}
#form h2 {
  text-align: center;
}
#logo {
  width: 40%;
  margin-left: 200px;
}
.input {
  width: 400px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-color: rgb(247, 104, 52);
}

#Signupbtn {
  width: 400px;
  height: 30px;
  padding: 5px;
  font-size: 20px;
  border-color: rgb(247, 104, 52);
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 10px;
  text-align: center;
}
#maindiv p {
  margin-top: 30px;
}
#maindiv a {
  text-decoration: none;
  color: rgb(247, 104, 52);
}
#Conditions {
  width: auto;
  height: 50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(247, 104, 52);
}
#Signupbtn:hover {
  background-color: white;
}
