#maindiv {
  /* border: 1px solid red; */
  width: 50%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 30px;
}
#from {
  /* border: 1px solid red; */
  width: 60%;
  margin: auto;
  padding: 30px;
  text-align: center;
  /* height: 450px; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
}
form{
margin-top: 20px;
}
form p {
  font-size: small;
}
form a{
  color: #0073ff;
}
form .temp{
  margin-top: 10px;
}
form .terms{
  margin-top: 20px;
}
#from .input {
  width: 250px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  margin-top: 15px;
}
#Signupbtn {
  width: 200px;
  border: none;
  outline: none;
  background-color: #232f3e;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0px;
  cursor: pointer;
  font-weight: 500;
}

#conditions{
  text-align: center;
  background-color: #62738a;
  /* border: 1px solid black; */
  font-size: small;
  padding: 15px;
color: white;
margin-top: 155px;
}

