* {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    box-sizing: border-box;
}

#sort-bar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border: 2px grey;
    padding: 0 10px 0px 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sort-bar #bar {
    background-color: rgb(241, 238, 238);
    height: 29px;
    padding: 4px 20px 4px 0;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#bar:hover {
    box-shadow: rgb(23, 171, 229);
    border: 1px;
}
#sort-bar #bar span {
    font-size: small;
    padding-left: 20px;

}
#sort-bar select {
    font-size: 14px;
    padding: 0;
    border: 0;
}

#sort option {
    font-size: 14px;
    background-color: white;
    padding-left: 5px;
}

#container {
    width: 90%;
    margin: auto;
    display: flex;
    background-color: rgb(255, 252, 249);
    margin-bottom: 140px;
}

.filter-div {
    width: 20%;
    margin-right: 3%;
    margin-left: 2%;
    font-size: 14px;
}


#refine,
#brand,
#price,
#category,
#rating,
#material p{

    background-color: #faf7f7;
    padding: 10px;
    font-weight: 600;
    /* margin-left: 3%; */

}

.brand-box p,
.price-box p,
.category-box p,
.material-box p,
.rating-box p {
    margin-left: 3%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 8px;
    margin-top: 8px;
}

#refine {
    background-color: #caced0;
}

.checked {
    color: #f69f26;
}


/*  Product container */

#productContainer {
    width: 70%;
}

.product-list {
    width: 100%;
    /* height: 6000px; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
    row-gap: 1%;
    /* overflow-y: scroll; */
    /* padding-bottom: 20%; */
}

.pagination-wrapper {
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}

.pagination-button {
    width: 40px;
    padding: 8px 10px 8px 10px;
    margin-right: 8px;
    border-color: rgb(183, 180, 180);
}

.pagination-button:hover{
    background-color: #f69f26;
}
.product {
    width: 100%;
    margin: auto;
    padding: 3%;
    padding-bottom: 7%;
    padding-left: 25px;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    line-height: 10px;
    color: rgb(81, 80, 80);
}
.product h4 {
    line-height: 19px;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 12px;    
}
.product p {
    font-size: 13px;
    margin-top: 14px;
    margin-bottom: 12px;
}
.product h2 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.product:hover {
    box-shadow:  rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
}

.image-container {
    width: 100%; 
    height: 250px; 
    max-width: 100%; 
    max-height: 100%; 
}
  
.image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    object-position: center; 
}

.best {
    position: relative;
    margin-left: 80%;
    margin-top: 5px;
    margin-bottom: -25px;
    color: white;
    background-color: #f69f26;
    padding: 6px 6px 6px 6px;
    font-size: 13px;
    flex-basis: auto;
}


.buy,
.add {
    width: 50%;
    height: 40px;
    margin-left: 25%;
    background-color: #f7ac3d;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
}    


@media screen and (max-width: 750px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }
    .best  {
        margin-left: 40%;
    }
}

@media screen and (min-width: 750px) and (max-width:1250px){
    .best  {
        margin-left: 40%;
    }
}